<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Mantenimiento de Productos</a>
</nav>
<div class="container">
    <div class="row">
      <div class="col-md-5">

        <app-product></app-product>

      </div>
      <div class="col-md-7 text-center ">
        <br>
        <br>
        <br>
          <img width="450" alt="Angular Logo" src="https://lh3.googleusercontent.com/proxy/l4efkZ_IyAWj98VDNwRN2uzh598ymb50bFkoBFdjLxfKGX10GLVc0Qoldfeo4mxMIcwqz71zpieQeKnhs53VkRjC_kbAISko-14Fvmjcq977pzsv451PPVx3rZmt8QFi8_wmwZss6Kk9EopchijxsWbtw407uPKJhnF5a2wCoHkybNAR">
          
          <app-product-list></app-product-list>          
        </div>
    </div>
</div>
