<div class="bg">
    <div class="container">
        <br>
        <div class="header">
            <h1>Datos del cliente</h1>
            <p>Ingrese los datos de los pedidos</p>
        </div>
        <form (ngSubmit)="onSubmit(compraForm)" #compraForm="ngForm">
            <div class="form-group">
                <br>
                <label>Nombre cliente:</label>
                <input type="text" class="form-control" name="nombre" #name="ngModel"
                    [(ngModel)]="compraService.selectedCompra.nombre" required pattern="[a-zA-Z ]{2,254}">
                <div [hidden]="name.valid || name.pristine">
                    Nombre valido requerido
                </div>
                <label>Dui cliente:</label>
                <input type="text" class="form-control" required [(ngModel)]="compraService.selectedCompra.dui"
                    name="dui" #name="ngModel" pattern="[0-9]{8}-[0-9]{1}">
                <div [hidden]="name.valid || name.pristine">
                    Ingrese un DUI Valido
                </div>
                <br>
                <label>Seleccione su producto</label>
                <select class="form-control" [(ngModel)]="opcionSeleccionado" name="opcionSeleccionado">
                    <option value="Selecciona">Selecciona</option>
                    <option *ngFor="let u of unidades" value="{{u}}">
                        {{u}}
                    </option>
                </select>
                <br /><br />
                <button type="submit" class="button" [disabled]="!compraForm.form.valid">Submit</button>
                <button type="reset" class="button-2">Reset</button>
            </div>
        </form>

            <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar para facturar">
        <mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter">
            <!-- User name Definition -->
            <ng-container matColumnDef="Nombre Cliente">
                <mat-header-cell *matHeaderCellDef>Nombre Cliente</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
            </ng-container>

            <!-- Age Definition -->
            <ng-container matColumnDef="Dui">
                <mat-header-cell *matHeaderCellDef>Dui</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.dui}} </mat-cell>
            </ng-container>

            <!-- Title Definition -->
            <ng-container matColumnDef="Codigo">
                <mat-header-cell *matHeaderCellDef>Codigo</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Descripcion">
                <mat-header-cell *matHeaderCellDef>Descripcion</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.descripcion}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Tipo Descuento">
                <mat-header-cell *matHeaderCellDef>Tipo Descuento</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.tipoDescuento}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Precio">
                <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.precio}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="precio con Descuento">
                <mat-header-cell *matHeaderCellDef>Precio con Descuento</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.precioDescuento}} </mat-cell>
            </ng-container>

            <!-- Header and Row Declarations -->
            <mat-header-row
                *matHeaderRowDef="['Nombre Cliente', 'Dui', 'Codigo', 'Descripcion', 'Tipo Descuento', 'Precio', 'precio con Descuento']">
            </mat-header-row>
            <mat-row
                *matRowDef="let row; columns: ['Nombre Cliente', 'Dui', 'Codigo', 'Descripcion', 'Tipo Descuento', 'Precio', 'precio con Descuento']">
            </mat-row>
        </mat-table>

        <button mat-raised-button (click)="exporter.exportTable('txt')">Generar ticket txt</button>
        <button mat-raised-button (click)="exporter.exportTable('xls')">Generar ticket excel</button>
    </div>
</div>